$defaultFontSize: 16px;

$primary-color: #0098d3;
$primary-hover: #0280b3;

$menu-color: #252527;

$font-light: #fff;
$light-grey: #e8e8e8;
$grey: #808080;
$dark-grey: #444;
$dark: #222 ;

$success: #84b84c ;
$error: #f00 ;
$bg-success: #84b84c1f ;
$bg-error: #ff00001f ;

$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-dm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
